.preloader {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader p {
  font-size: 42px;
  display: flex;
  color: white;
  position: absolute;
  align-items: center;
  z-index: 100;
}

.preloader svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}

.preloader svg path {
  fill: #141516;
}
